DATABASE_URL=your_database_url_here
PORT=3000
JWT_SECRET=your_jwt_secret_here
ENCRYPTION_KEY=your_32_byte_encryption_key_here
TESTMAIL_BASE_URL=https://api.testmail.app
API_TIMEOUT_MS=5000
TESTMAIL_LIVEQUERY_TIMEOUT_MS=75000
TESTMAIL_ACTIVE_NAMESPACE_WINDOW_MS=900000
TESTMAIL_POLL_INTERVAL_MS=900000
TESTMAIL_ACTIVE_RETRY_DELAY_MS=3000
IP_HASH_SECRET=your_ip_hash_secret_here
FRONTEND_URL=http://localhost:3001
BREVO_SMTP_HOST=your_brevo_smtp_host_here
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_smtp_user_here
BREVO_SMTP_PASSWORD=Your_brevo_smtp_password_here
BREVO_FROM_EMAIL=your_brevo_from_email_here