DATABASE_URL=your_database_url_here
PORT=3000
JWT_SECRET=your_jwt_secret_here
ENCRYPTION_KEY=your_32_byte_encryption_key_here
TESTMAIL_BASE_URL ='https://api.testmail.app/api/json';
API_TIMEOUT_MS =5000